<p>
  <b>Description:</b>
  <%=h @timeline.description %>
</p>

<p>
  <b>Hours spent:</b>
  <%=h @timeline.hours_spent %>
</p>

<p>
  <b>Started on:</b>
  <%=h @timeline.started_on %>
</p>


<%= link_to 'Edit', edit_timeline_path(@timeline) %> |
<%= link_to 'Back', timelines_path %>